<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소프트웨어라운지 :: VR</title>
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendors/aos/aos.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/js/loader.js"></script>
</head>
<body>
    <div class="edica-loader"></div>
    <header class="edica-header">
        <div class="container">
                      <!-- include navbar -->
      <%- include('./sections/navbar.ejs') %>
        </div>
    </header>

    <main class="blog-post">
        <div class="container">
            <h1 class="edica-page-title" data-aos="fade-up">VR 체험</h1>
            <!-- <p class="edica-blog-post-meta" data-aos="fade-up" data-aos-delay="200">Written by Richard Searls• February 1, 2019• 6:31 pm• Featured • 4 Comments</p> -->
            <section class="blog-post-featured-img" data-aos="fade-up" data-aos-delay="300">
                <img src="images/08_VR체험2.jpg" alt="featured image" class="w-100">
            </section>
            <section class="post-content">
                <div class="row">
                    <div class="col-lg-9 mx-auto" data-aos="fade-up">
                        <p>제주대학교 SW 라운지에서는 재학생이라면 누구나 무료로 VR 게임을 체험할 수 있습니다.</p>
                        <p>운영시간에 방문하여 가상현실 VR을 자유롭게 경험해보세요!</p>
                    </div>
                </div>
                <h1 class="edica-page-title" data-aos="fade-up">원하는 VR게임이 있다면?<br></h1>
                <div class="row mb-5">
                    <div class="col-md-4 mb-3" data-aos="fade-right">
                        <img src="images/11_롤러코스터.png" alt="blog post" class="img-fluid">
                    </div>
                    <div class="col-md-4 mb-3" data-aos="fade-up">
                        <img src="images/09_비트세이버.png" alt="blog post" class="img-fluid">
                    </div>
                    <div class="col-md-4 mb-3" data-aos="fade-left">
                        <img src="images/10_탁구.png" alt="blog post" class="img-fluid">
                    </div>
                    <div class="col-lg-9 mx-auto" data-aos="fade-up">
                        <br>
                        <p>구글이나 유튜브에 "오큘러스 퀘스트 2 VR 무료 게임 추천"을 검색해보세요!</p>
                        <p>제공되는 다양한 정보 중 원하는 게임을 라운지에 미리 말씀해주세요.</p>  
                        <p>방문시간과 인원을 말씀해주시면 보다 빠르게 이용할 수 있습니다.</p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <p data-aos="fade-up"><a href="#">Lorem ipsum, or lipsum as it is sometimes known,</a> is dummy text used in laying out printed graphic or web designs. The passage is at attributed to an unknown typesetters in 1the 5th century who is thought scrambled with all parts of Cicero’s De. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out printed graphic or web designs</p>
                        <h2 class="mb-4" data-aos="fade-up">Blog single page</h2>
                        <ul data-aos="fade-up">
                            <li>What manner of thing was upon me I did not know, but that it was large and heavy and many-legged I could feel.</li>
                            <li>My hands were at its throat before the fangs had a chance to bury themselves in my neck, and slowly</li>
                            <li>I forced the hairy face from me and closed my fingers, vise-like, upon its windpipe.</li>
                        </ul>

                        <blockquote data-aos="fade-up">
                            <p>You are safe here! I shouted above the sudden noise. She looked away from me downhill. The people were coming out of their houses, astonished.</p>
                            <footer class="blockquote-footer">Oluchi Mazi</footer>
                        </blockquote>
                        <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out printed graphic or web designs. The passage is at attributed to an unknown typesetters in 1the 5th century who is thought scrambled with all parts of Cicero’s De. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out printed graphic or web designs</p>
                    </div>
                </div> -->
            </section>
            <!-- <div class="row">
                <div class="col-lg-9 mx-auto">
                    <section class="related-posts">
                        <h2 class="section-title mb-4" data-aos="fade-up">Related Posts</h2>
                        <div class="row">
                            <div class="col-md-4" data-aos="fade-right" data-aos-delay="100">
                                <img src="assets/images/blog_post_related_1.png" alt="related post" class="post-thumbnail">
                                <p class="post-category">Blog post</p>
                                <h5 class="post-title">Front becomes an official Instagram</h5>
                            </div>
                            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                                <img src="assets/images/blog_post_related_2.png" alt="related post" class="post-thumbnail">
                                <p class="post-category">Blog post</p>
                                <h5 class="post-title">Front becomes an official Instagram</h5>
                            </div>
                            <div class="col-md-4" data-aos="fade-left" data-aos-delay="100">
                                <img src="assets/images/blog_post_related_3.png" alt="related post" class="post-thumbnail">
                                <p class="post-category">Blog post</p>
                                <h5 class="post-title">Front becomes an official Instagram</h5>
                            </div>
                        </div>
                    </section>
                    <section class="comment-section">
                        <h2 class="section-title mb-5" data-aos="fade-up">Leave a Reply</h2>
                        <form action="/" method="post">
                            <div class="row">
                                <div class="form-group col-12" data-aos="fade-up">
                                <label for="comment" class="sr-only">Comment</label>
                                <textarea name="comment" id="comment" class="form-control" placeholder="Comment" rows="10">Comment</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4" data-aos="fade-right">
                                    <label for="name" class="sr-only">Name</label>
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name*">
                                </div>
                                <div class="form-group col-md-4" data-aos="fade-up">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email*" required>
                                </div>
                                <div class="form-group col-md-4" data-aos="fade-left">
                                    <label for="website" class="sr-only">Website</label>
                                    <input type="url" name="website" id="website" class="form-control" placeholder="Website*">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" data-aos="fade-up">
                                    <input type="submit" value="Send Message" class="btn btn-warning">
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div> -->
        </div>
    </main>

    <section class="edica-footer-banner-section pt-5">
        <div class="container">
            <div class="footer-banner" data-aos="fade-up">
                <h1 class="banner-title">바로가기</h1>
                <div class="banner-btns-wrapper">
                    <a href="https://pf.kakao.com/_xiBKcK" target="blank_" class="btn btn-success">
                        <i class="fa fa-hashtag mr-2"></i> 카카오톡 채널</a
                      >
                      <a href="https://open.kakao.com/o/g9qCra0c" target="blank_" class="btn btn-secondary">
                        <i class="fa fa-comment mr-2"></i> 카카오톡 오픈채팅방</a
                      >
                </div>
                <p class="banner-text">오픈채팅방 참여코드 : 2021<!-- <br> product or service. --></p>
            </div>
        </div>
    </section>
      <!-- include footer -->
      <%- include('./sections/footer.ejs') %>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendors/aos/aos.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        AOS.init({
            duration: 1000
        });
      </script>
</body>

</html>