<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소프트웨어라운지 :: 온라인 코딩 배움터</title>
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendors/aos/aos.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/js/loader.js"></script>
</head>
<body>
    <div class="edica-loader"></div>
    <header class="edica-header">
        <div class="container">
                      <!-- include navbar -->
      <%- include('./sections/navbar.ejs') %>
        </div>
    </header>

    <main class="blog-post">
        <div class="container">
            <h1 class="edica-page-title" data-aos="fade-up">온라인 코딩 배움터</h1>
            <section class="post-content">
                <!-- <iframe src="https://comoonddo.notion.site/comoonddo/SW-077845dbe2ce4bb89ced581d63ca79e2" width="100%">
                    <p>사용 중인 브라우저는 iframe을 지원하지 않습니다.</p>
                  </iframe> -->
                  <div id="7ad1ecb5-6af6-4b27-897e-0bf2bc124aec" style="width:50%" class="column"><!--<h3 id="0b29df32-0327-48e1-abf9-4628788b6762" class="">📝&nbsp;온라인 코딩 배움터</h3>--><figure class="block-color-pink_background callout" style="white-space:pre-wrap;display:flex" id="c4bd6184-48bc-4414-87cd-13c889e917c9"><div style="font-size:1.5em"><span class="icon">🧚🏻‍♀️</span></div><div style="width:100%"><a href="https://www.notion.so/Lv-3da59bf25689427abc9f8149c14b17a2?pvs=21"><strong>웹 프로그래밍(Lv.왕초보)</strong></a></div></figure><figure class="block-color-blue_background callout" style="white-space:pre-wrap;display:flex" id="0202879e-02e2-4c87-be37-45a4b412cfdc"><div style="font-size:1.5em"><span class="icon">🧞‍♂️</span></div><div style="width:100%"><strong><a href="https://www.notion.so/5eef213174cd4680a60f121354ebcd56?pvs=21">틴커캐드로 만드는 아두이노</a></strong></div></figure><figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="d129fc0a-86ab-4f53-8823-57ce07c90afa"><div style="font-size:1.5em"><span class="icon">🧜🏻‍♀️</span></div><div style="width:100%"><a href="https://www.notion.so/SQL-8178a911536d41f3b52e33b42588f302?pvs=21">처음 배우는 데이터베이스 + SQL</a></div></figure><p id="1a6f21f1-41b0-4c03-83a4-226432e0a5f0" class="">
                </p></div>
            </section>

        </div>
    </main>

    <section class="edica-footer-banner-section pt-5">
        <div class="container">
            <div class="footer-banner" data-aos="fade-up">
                <h1 class="banner-title">바로가기</h1>
                <div class="banner-btns-wrapper">
                    <a href="https://pf.kakao.com/_xiBKcK" target="blank_" class="btn btn-success">
                        <i class="fa fa-hashtag mr-2"></i> 카카오톡 채널</a
                      >
                      <a href="https://open.kakao.com/o/g9qCra0c" target="blank_" class="btn btn-secondary">
                        <i class="fa fa-comment mr-2"></i> 카카오톡 오픈채팅방</a
                      >
                </div>
                <p class="banner-text">오픈채팅방 참여코드 : 2021<!-- <br> product or service. --></p>
            </div>
        </div>
    </section>
      <!-- include footer -->
      <%- include('./sections/footer.ejs') %>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendors/aos/aos.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        AOS.init({
            duration: 1000
        });
      </script>
</body>

</html>