<!--

Follow me on
Dribbble: https://dribbble.com/supahfunk
Twitter: https://twitter.com/supahfunk
Codepen: https://codepen.io/supah/

It's just a concept, a fake chat to design a new daily UI for direct messaging.
Hope you like it :)

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>소프트웨어 라운지 :: 지피티</title>
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/aos/aos.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/js/loader.js"></script>
    <!-- widget -->
    <!-- markdown to html -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/widget.css" />
  </head>
  <body>
    <div class="edica-loader"></div>
    <header class="edica-header">
      <div class="container"><%- include('./sections/navbar.ejs') %></div>
    </header>
    <!--  -->
    <style>
      .edica-header {
        margin-top: 5rem;
      }

      body {
        background-color: white !important;
        padding-bottom: 5rem;
      }
    </style>

    <section class="msger" style="font-family: Gowun Dodum">
      <div class="msger-header">
        <div class="msger-header-title">
          <i class="fas fa-comment-alt"></i> SW LounGPT
        </div>
        <div class="msger-header-options">
          <span><i class="fas fa-cog"></i></span>
        </div>
      </div>

      <style>
        .msg-text ul,
        .msg-text ol {
          margin: 0 1rem;
        }

        .msg-text code {
          border: solid 1px #e83e8d6f;
          border-radius: 4px;
          padding: 0.1rem 0.2rem;
        }
      </style>

      <div class="msger-chat">
        <div class="msg left-msg">
          <div
            class="msg-img"
            style="
              background-image: url(https://lh3.googleusercontent.com/a/AGNmyxYAwzFjX8BfiDs9x5buRMhfquq9II0FZvLnX9Y5=s360);
            "
          ></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">SW라운지 멘토</div>
              <div class="msg-info-time">00:00</div>
            </div>

            <div class="msg-text">
              <p>
                안녕하세요 <span id="UserNAME"><%= session.UserNAME %></span>님!
                SW라운지입니다! 😄
              </p>
              <p>
                이곳에서 하는 모든 질문은 ChatGPT가 답변해주는 동시에, SW라운지
                멘토님들께도 전달된다는 점 참고해주세요!
              </p>
              <p>중간고사 화이팅입니다!</p>
            </div>
          </div>
        </div>

        <div class="msg left-msg">
          <div
            class="msg-img"
            style="
              background-image: url(https://lh3.googleusercontent.com/a/AGNmyxYAwzFjX8BfiDs9x5buRMhfquq9II0FZvLnX9Y5=s360);
            "
          ></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">SW라운지 멘토</div>
              <div class="msg-info-time">00:00</div>
            </div>

            <div class="msg-text">
              <p>📍질문 방법📍</p>
              <p>LounGPT는 하나의 질문만을 기억합니다</p>
              <p>
                질문은 최대한 구체적으로 작성해주셔야 정확한 답변을 얻을 수
                있습니다
              </p>
            </div>
          </div>
        </div>
      </div>

      <form class="msger-inputarea">
        <textarea
          type="text"
          class="msger-input"
          placeholder="로그인 하셔야 이용할 수 있습니다"
          disabled
        ></textarea>
        <button type="submit" class="msger-send-btn" disabled>전송</button>
      </form>
    </section>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendors/aos/aos.js"></script>
    <script src="assets/js/counter.js"></script>
    <script src="assets/js/main.js"></script>

    <script type="text/javascript" src="/javascripts/widget.js"></script>
    <!-- <script type="module" src="/javascripts/widget.js"></script> -->
  </body>
</html>
